.block1
{
 text-align: center;
   
  border: 4px double black;
}






.block2
{
 width: 500px;
 height: 1000px;
 position: absolute;
 left: 250px;
 text-align:left;
 top: 300px;
  
  border: 4px double black;
}
 .leftimg {
    float:right; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}


.block3
{
  border: 4px double black;
 width: 500px;
 height: 1000px;
 left: 900px;
 position: absolute;
 bottom: 1px;
 top: 200px;
   
}

.block4
{
  border: 4px double black;
 position: absolute;
 top: 900px;
 width: 100%;
   
 
}
