.block1
{
 text-align: center;
 
}






.block2
{
 width: 500px;
 height: 1000px;
}


.block3
{
 width: 500px;
 height: 1000px;
 left: 900px;
 position: absolute;
 
}

.block4
{
 position: absolute;
 top: 400px;
 
}
